* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(240, 255, 255);
}
.main-section {
    height: 100%;
    display: flex;
    justify-content: left;

    &__sidebar {
        display: flex;
        flex-direction: column;
        background-color: rgb(240, 255, 255);
        flex-basis: 20%;
        &__search {
            flex-basis: 15%;
            background-color: rgb(135, 206, 250);
        }
        &__category {
            flex-basis: 15%;
            background-color: rgb(135, 206, 250);
        }
        &__widget {
            flex-basis: 70%;
            background-color: rgb(135, 206, 250);
        }
    }
    &__content {
        font-family: Monospace;

        background-color: rgb(240, 255, 255);
        flex-basis: 80%;
        overflow: hidden;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        padding: 12px 0 0 12px;
        &__post {
            background-color: indigo;
            text-align: center;
            padding: 20px 0;
            min-height: 23rem;
            font-size: 30px;
            position: relative;
            &__title {
                color: white;
                font-size: 3.1rem;
                font-family: Monospace;
            }
            &__category {
                background-color: white;
                position: absolute;
                top: 0;
                right: 10%;
            }
            &__status {
                background-color: white;
                position: absolute;
                bottom: 0;
                left: 10%;
            }
            &__info {
                color: white;
                &__author {
                    border-right: 1px white solid;
                    padding-right: 7px;
                }
                &__date {
                    border-right: 1px white solid;
                    padding-right: 7px;
                }
            }

            &__content-preview {
                position: absolute;
                width: 60%;
                margin: auto;
                margin-top: 8px;
                text-align: left;
                color: white;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &__tags {
                position: absolute;
                border-top: 1px solid white;
                width: 60%;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, -50%);
                &__ul {
                    list-style: none;
                    float: left;
                }
                &__li {
                    display: inline-block;
                }
            }
        }
    }
}
.mainpost {
    grid-column-start: 1;
    grid-column-end: 3;
    position: relative;
}
.fixed-navbar {
    // position: fixed;
    width: 100%;
    // top:0;
}
.navbar {
    display: flex;
    height: 4rem;
    background: linear-gradient(90deg, rgb(0, 191, 255) 0%, rgb(173, 216, 230) 50%, rgb(135, 206, 250) 100%);
    border-bottom: 1px solid #87cefa;
    &__logo {
        flex-basis: 20%;
        background-color: rgb(135, 206, 250);
        position: relative;
        &__text {
            font-size: 3.1rem;
            font-family: Monospace;
            position: absolute;
            color: #fffff0;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    -webkit-box-shadow: 3px 5px 5px 0px rgba(65, 105, 225, 0.61);
    -moz-box-shadow: 3px 5px 5px 0px rgba(65, 105, 225, 0.61);
    box-shadow: 3px 5px 5px 0px rgba(65, 105, 225, 0.61);
    &__ul {
        flex-basis: 80%;
        display: flex;
        &__li {
            list-style: none;
            padding: 1rem 1rem 1rem;
            &__link {
                font-size: 2rem;
                text-decoration: none;
                font-family: Monospace;
                color: #fffff0;
                &:hover {
                    padding: 1.3rem 1.3rem 1.3rem;
                    background-color: white;
                    color: #add8e6;
                }
            }
        }
    }
}

.footer {
    height: 6rem;
    width: 100%;
    background-color: black;
    background: linear-gradient(90deg, rgb(0, 191, 255) 0%, rgb(173, 216, 230) 50%, rgb(135, 206, 250) 100%);
}
